.header{
	background:#2c3e50;
	color:#fff;
	margin-top:1px;
}
body{
	background:#339999;
}
.logo1{
	height:80px;
	margin-top:5px;
	margin-bottom:5px;
}
.footer{
	background:#2c3e50;
	color:#fff;
	margin-bottom:1px;
	margin-top:20px;
}
.header2{
	background:#2c3e5066;
	text-align:right;
}
.a_header2{
	color:#fff;
	margin-left:15px;
}
.a_header:hover{
	color:#2c3e50;
}
.home{
	background:#339999;
	text-align:center;
	text-align: center;
    margin-top: 200px;
}
.logo-home{
	width:9%;
}
.imagenes-home{
	margin-top:20px;
}