.header{
	background:#2c3e50;
	color:#fff;
	margin-top:1px;
}
body{
	background:#6e9fd0;
}
.logo1{
	height:80px;
	margin-top:5px;
	margin-bottom:5px;
}
.footer{
	background:#2c3e50;
	color:#fff;
	margin-bottom:1px;
}
.color-favicon{
	color:#fff;
}