.header{
	background:#2c3e50;
	color:#fff;
	margin-top:1px;
}
body{
	background:#339999;
	margin:0;
	padding:0;
}
.logo1{
	height:80px;
	margin-top:5px;
	margin-bottom:5px;
}
.footer{
	background:#2c3e50;
	color:#fff;
	margin-bottom:1px;
	margin-top:20px;
}
.header1{
	background:#339999;
	text-align:left;
}
.header2{
	background:#339999;
	text-align:right;
}
.a_header2{
	color:#fff;
	margin-right:15px;
}
.a_header:hover{
	color:#2c3e50;
}
.home{
	background:#339999;
	text-align:center;
	text-align: center;
    margin-top: 200px;
}
.logo-home{
	width:9%;
}
.imageneshome{
	margin-top:20px;
	text-align: center;
}
.imghome{
	margin:10px;
	width:150px;
}
.div1{
	padding:0px;
}
.div1-1{
	float:left;
	text-align:left;
}
.div1-2{
	text-align:right;
}
.div2{
	background-color:#55bbbb;
}
.div2-1{
	float:left;
	width:504px;
}
.div2-2{
	text-align:center;
}
.div2-1-1{
	margin-top: 130px;
    margin-left: 115px;
}

/*slider imagenes menu home */
.slider{
	position: relative;
	width: 100%;

}
.imagen{
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.4s;
}
.activa{
	left: 0;
	z-index: 2;
}
.left{
	z-index: 1;
	left: -100%;
}
.rigth{
	z-index: 1;
	left: 100%;
}
.nav{
	display: block;
	position: absolute;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
	text-align: center;
	width: 40px;
	height: 50px;
	top: calc(50% - 20px);
	z-index: 3;
}
.nav_rigth{
	right: 0;
}
.nav_left{
	left: 0;
}
.dots{
	position: absolute;
	z-index: 3;
	list-style-type:none;
	margin: 0;
	padding: 0;
	width: 100%;
	bottom: 20px;
	text-align: center;
}
.dots li{
    display: inline-block;
    width: 10px;
    margin: 5px;
}
.dot{
	display: block;
	border:1px solid #fff;
	border-radius: 100%;
	width: 8px;
	height: 8px;
}
.activo{
	background-color: #fff;

}
	